<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="referrer" content="no-referrer" />
    <title>審題系統</title>
    <script src="/res/js/index.js"></script>
    <script src="/res/js/ExcelUpload.js"></script>

    <script src="/res/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/res/bootstrap/bootstrap.min.js"></script>
    <script src="/res/data/memberData.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/res/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/res/bootstrap/bootstrap.bundle.js"></script>


    <link href="/res/bootstrap/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


    <script src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>
    <script lang="javascript" src="xlsx/dist/xlsx.full.min.js"></script>

    <!--InitModal-->
    <script src="/res/js/InitModal.js" type="text/javascript"></script>

    <style>
        .table {
            background-color: transparent;
            table-layout: fixed;
        }

        .dataTables_info {
            font-size: 1em;
        }

        .paginate_button {
            font-size: 1em;

        }

        .word {
            font-size: 1em;
        }

        .nav-link {
            color: black;
        }

        .nav-link.active {
            color: white;
        }
    </style>
    <script>
        var formData = new FormData();
        var dataTables;
        var EditExampleContent = [];
        var EditItem = 0;
        var hideExamplearray = [];
        var hideExamarray = [];
        var ReturnArray = [];
        var examId = 0;
        $(document).ready(function () {



            $.each(ThemeData, function (key, value) { // generate dropdown list from memberData.js 
                $("#txttheme").append('<option value=' + key + '>' + value + '</option>');
            });
            dataTables = $('#ExamTable').DataTable({
                "searching": false,
                "ordering": false,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "headers": {
                        'Authorization': getCookie("token")
                    },
                    "type": "POST",
                    url: parent.webApiUrl + "/exam/GetAllByTheme",
                    contentType: "application/json",
                    data: function (d) {
                        d.Level = $("#txtlevel").val();
                        d.Theme = $("#txttheme").val();
                        d.AccountId = getCookie("id");
                        d.GroupId = getCookie("GroupId");
                        return JSON.stringify(d)
                    }
                },
                "rowCallback": function (row, data) {
                    //InitModal();
                },
                "columns": [
                    { 'data': 'id' },
                    { 'data': 'groupId' },
                    { 'data': 'monitorGroupId' },
                    { 'data': 'isUpload' },
                    { 'data': 'number' },
                    { 'data': 'proposition' },
                    { 'data': 'level' },
                    { 'data': 'category' },//5
                    { 'data': 'reference' },
                    { 'data': 'volume' },
                    { 'data': 'class' },
                    { 'data': 'theme' },
                    { 'data': null },
                ], "columnDefs": [{
                    "targets": [0], // hidden column
                    "visible": false

                }, {
                    "targets": 1,
                    "render": function (data, type, row) {
                        if (row.groupId != null)
                            return SchoolData[row.groupId];
                        else
                            return "無";
                    }
                }, {
                    "targets": 2,
                    "render": function (data, type, row) {
                        if (row.monitorGroupId != null)
                            return SchoolData[row.groupId];
                        else
                            return "無";
                    }
                }, {
                    "targets": 3,
                    "render": function (data, type, row) {
                        var checked = (row.isUpload == 0) ? "未上傳" : "已上傳";
                        return checked;
                    }
                }, {
                    "targets": 6,
                    "render": function (data, type, row) {
                        return LevelData[row.level];
                    }

                }, {
                    "targets": 7,
                    "render": function (data, type, row) {
                        switch (row.level) {
                            case 0:
                            case 1:
                                return CategoryA[row.category];
                                break;
                            case 2:
                            case 3:
                                return CategoryB[row.category];
                                break;
                            case 4:
                            case 5:
                                return CategoryC[row.category];
                        }
                    }

                }, {
                    "targets": 8,
                    "render": function (data, type, row) {
                        return TextBookData[row.reference];
                    }

                }, {
                    "targets": 11,
                    "render": function (data, type, row) {
                        if (row.theme != null)
                            return ThemeData[row.theme];
                    }

                }, {
                    "targets": 12, // add edit buttononclick="recordChat(' + row.id + ')
                    "render": function (data, type, row) {
                        var html = "";
                        html += '<a href="javascript:void(0);" onclick="DetailExampleContent(' + row.id + ',' + row.level + ',' + row.category + ')">詳細</a> '
                        return html
                    }
                }],
                "dom": '<"toolbar">frtip', // enable custommize toolbar elements
                "language": { // change display text
                    "info": " 目前顯示 _START_ 至 _END_ 筆，共計 _TOTAL_ 筆。",
                    "paginate": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "next": ">",
                        "previous": "<"
                    }
                }

            });
        });

        function GetExamTable() {
            dataTables.draw();
        }

        function DetailExampleContent(id, level, category) {
            examId = id
            InitModal(level, category);
            $('#DetailExample').DataTable({
                "lengthMenu": [[1, 2, 3], [1, 2, 3]],
                "searching": false,
                "ordering": false,
                "serverSide": true,
                "processing": true,
                "lengthChange": false,
                "paging": false,

                "destroy": true,
                "ajax": {
                    "headers": {
                        'Authorization': getCookie("token")
                    },
                    "type": "POST",
                    url: parent.webApiUrl + "/exam/GetExamDetail",
                    contentType: "application/json",
                    data: function (d) {
                        d.Id = examId
                        return JSON.stringify(d)
                    },
                },
                "columns": [
                    { 'data': 'id' },
                    { 'data': 'level' },
                    { 'data': 'category' },
                    { 'data': 'reference' },
                    { 'data': 'volume' },
                    { 'data': 'class' },   //5
                    { 'data': 'theme' },
                    { 'data': 'txtExampleGroup' },
                    { 'data': 'picExampleGroup' },
                    { 'data': 'voiceExampleGroup' },
                    { 'data': 'picExampleGroupMark' },
                    { 'data': 'voiceExampleGroupMark' },

                ], "columnDefs": [{
                    "targets": hideExamarray, // hidden column
                    "visible": false
                }, {
                    "targets": 1,
                    "render": function (data, type, row) {


                        return LevelData[row.level];
                    }
                }, {
                    "targets": 2,
                    "render": function (data, type, row) {
                        switch (row.level) {
                            case 0:
                            case 1:
                                return CategoryA[row.category];
                                break;
                            case 2:
                            case 3:
                                return CategoryB[row.category];
                                break;
                            case 4:
                            case 5:
                                return CategoryC[row.category];
                        }
                    }
                }, {
                    "targets": 3,
                    "render": function (data, type, row) {
                        return TextBookData[row.reference];
                    }
                }, {
                    "targets": 6,
                    "render": function (data, type, row) {
                        return ThemeData[row.theme];
                    }
                }, {
                    "targets": 8,
                    "render": function (data, type, row) {
                        var html = ""

                        html += '<div class="row">'
                        if (row.picExampleGroup != null)
                            html += '<img class="img-rounded"  src="' + "data:image;base64," + row.picExampleGroup + '"   width="75" height="80" />'
                        html += '<div class="w-100"></div>'
                        if (row.picExampleGroupMark != null)
                            html += '<a>備註 :' + row.picExampleGroupMark + '</a>'
                        else
                            html += '<a>備註 :無</a>'
                        html += '</div>'
                        return html
                    }
                }],
            });
            $('#DetailExampleContent').DataTable({
                "searching": false,
                "ordering": false,
                "lengthChange": false,
                "DeferRender": true,
                "paging": false,
                "destroy": true,
                "info": false,
                "ajax": {
                    "headers": {
                        'Authorization': getCookie("token")
                    },
                    "type": "POST",
                    url: parent.webApiUrl + "/exam/GetExampleContent",
                    contentType: "application/json",
                    data: function (d) {
                        d.examId = examId;
                        return JSON.stringify(d)
                    },
                },

                "columns": [
                    { 'data': 'id' },
                    { 'data': 'examId' },
                    { 'data': 'txtExample' },
                    { 'data': 'picExample' },
                    { 'data': 'voiceExample' },
                    { 'data': 'txtA' },    //5
                    { 'data': 'picA' },
                    { 'data': 'voiceA' },
                    { 'data': 'txtB' },
                    { 'data': 'picB' },
                    { 'data': 'voiceB' },//10
                    { 'data': 'txtC' },
                    { 'data': 'picC' },
                    { 'data': 'voiceC' },
                    { 'data': 'txtD' },
                    { 'data': 'txtE' },//15
                    { 'data': 'txtF' },
                    { 'data': 'answer' },
                    { 'data': 'picExampleMark' },
                    { 'data': 'voiceExampleMark' },
                    { 'data': 'picAmark' },
                    { 'data': 'voiceAmark' },
                    { 'data': 'picBmark' },
                    { 'data': 'voiceBmark' },
                    { 'data': 'picCmark' },
                    { 'data': 'voiceCmark' },
                ], "columnDefs": [{
                    "targets": hideExamplearray.concat([18, 19, 20, 21, 22, 23, 24, 25]), // hidden column
                    "visible": false
                }, {
                    "targets": 3,
                    "render": function (data, type, row) {
                        var html = ""

                        html += '<div class="row">'
                        if (row.picExample != null)
                            html += '<img class="img-rounded"  src="' + "data:image;base64," + row.picExample + '"   width="75" height="80" />'
                        html += '<div class="w-100"></div>'
                        if (row.picExampleMark != null)
                            html += '<a>備註 :' + row.picExampleMark + '</a>'
                        else
                            html += '<a>備註 :無</a>'

                        return html
                    }
                }, {
                    "targets": 4,
                    "render": function (data, type, row) {
                        var html = "";

                        html += '<div class="row">'
                        if (row.voiceExample != null)
                            html += '<audio controls=""  src="' + "data:audio/wav;base64," + row.voiceExample + '"  ></audio>'
                        html += '<div class="w-100"></div>'
                        if (row.voiceExampleMark != null)
                            html += '<a>備註 :' + row.voiceExampleMark + '</a>'
                        else
                            html += '<a>備註 :無</a>'
                        return html
                    }
                }, {
                    "targets": 6,
                    "render": function (data, type, row) {
                        var html = ""

                        html += '<div class="row">'
                        if (row.picA != null)
                            html += '<img class="img-rounded"  src="' + "data:image;base64," + row.picA + '"   width="75" height="80" />'
                        html += '<div class="w-100"></div>'
                        if (row.picAmark != null)
                            html += '<a>備註 :' + row.picAmark + '</a>'
                        else
                            html += '<a>備註 :無</a>'

                        return html
                    }
                }, {
                    "targets": 7,
                    "render": function (data, type, row) {
                        var html = "";

                        html += '<div class="row">'
                        if (row.voiceA != null)
                            html += '<audio controls=""  src="' + "data:audio/wav;base64," + row.voiceA + '"  ></audio>'
                        html += '<div class="w-100"></div>'
                        if (row.voiceAmark != null)
                            html += '<a>備註 :' + row.voiceAmark + '</a>'
                        else
                            html += '<a>備註 :無</a>'
                        return html
                    }
                }, {
                    "targets": 9,
                    "render": function (data, type, row) {
                        var html = ""

                        html += '<div class="row">'
                        if (row.picB != null)
                            html += '<img class="img-rounded"  src="' + "data:image;base64," + row.picB + '"   width="75" height="80" />'
                        html += '<div class="w-100"></div>'
                        if (row.picBmark != null)
                            html += '<a>備註 :' + row.picBmark + '</a>'
                        else
                            html += '<a>備註 :無</a>'

                        return html
                    }
                }, {
                    "targets": 10,
                    "render": function (data, type, row) {
                        var html = "";

                        html += '<div class="row">'
                        if (row.voiceB != null)
                            html += '<audio controls=""  src="' + "data:audio/wav;base64," + row.voiceB + '"  ></audio>'
                        html += '<div class="w-100"></div>'
                        if (row.voiceBmark != null)
                            html += '<a>備註 :' + row.voiceBmark + '</a>'
                        else
                            html += '<a>備註 :無</a>'
                        return html
                    }
                }, {
                    "targets": 12,
                    "render": function (data, type, row) {
                        var html = ""

                        html += '<div class="row">'
                        if (row.picC != null)
                            html += '<img class="img-rounded"  src="' + "data:image;base64," + row.picC + '"   width="75" height="80" />'
                        html += '<div class="w-100"></div>'
                        if (row.picCmark != null)
                            html += '<a>備註 :' + row.picCmark + '</a>'
                        else
                            html += '<a>備註 :無</a>'

                        return html
                    }
                }, {
                    "targets": 13,
                    "render": function (data, type, row) {
                        var html = "";

                        html += '<div class="row">'
                        if (row.voiceC != null)
                            html += '<audio controls=""  src="' + "data:audio/wav;base64," + row.voiceC + '"  ></audio>'
                        html += '<div class="w-100"></div>'
                        if (row.voiceCmark != null)
                            html += '<a>備註 :' + row.voiceCmark + '</a>'
                        else
                            html += '<a>備註 :無</a>'
                        return html
                    }
                }, {
                    "targets": 17,
                    "render": function (data, type, row) {
                        return AnswerChoice[row.answer];
                    }
                }],
            });

            $('#modalRecord').modal('show');
        }

    </script>

</head>

<body>

    <h2>題目總覽</h2>
    <div>
        <ul class="nav">
            <li class="nav-item" style="background-color:rgb(227, 168, 235)"
                onclick="changeContent('題目總覽頁面','UpLoadFile','ReadExam')">
                <a href="ReadExam.html" class="nav-link active"><span data-feather="null"></span>題目總覽頁面 </a></li>
            <li class="nav-item" style="background-color:rgb(227, 168, 235)"
                onclick="changeContent('審查結果(未通過)頁面','UpLoadFile','ThemeTable')">
                <a href="ThemeTable.html" class="nav-link active"><span data-feather="null"></span>領域主題總覽頁面 </a></li>

            <li class="nav-item " style="background-color:gainsboro"
                onclick="changeContent('審查結果(通過)頁面','UpLoadFile','ResulSuccesstExam')">
                <a href="ResulSuccesstExam.html" class="nav-link"><span data-feather="null"></span>審查結果(通過)頁面 </a></li>
            <li class="nav-item" style="background-color:gainsboro"
                onclick="changeContent('審查結果(未通過)頁面','UpLoadFile','ResulFailtExam')">
                <a href="ResulFailExam.html" class="nav-link"><span data-feather="null"></span>審查結果(未通過)頁面 </a></li>
        </ul>

    </div>




    <div class="form-group word">
        <label for="txttheme">領域主題</label>
        <select style="width:15%;" id="txttheme"></select>
        <button type="button" class="btn btn-outline-primary my-2 my-sm-0" onclick="GetExamTable();">送出</button>
    </div>



    <!-- DataTables -->

    <table id="ExamTable" class="word able table-striped table-sm" style="width:100%; ">
        <thead>
            <tr>
                <th>id</th>
                <th>命題學校</th>
                <th>審題學校</th>
                <th>狀態</th>
                <th>題目序號</th>
                <th>命題者</th>
                <th>命題級數</th>
                <th>題目類別</th>
                <th>來源教材</th>
                <th>冊數</th>
                <th>課數</th>
                <th>領域主題</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>


    <!-- Detail -->
    <div class=" modal fade" id="modalRecord" tabindex="-1" role="dialog" aria-labelledby="modalRecordLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRecordLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="DetailExampleContent" class="word table table-striped table-sm" style="width:100%;">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>examId</th>
                                <th>題目內容</th>
                                <th>題目圖檔</th>
                                <th>題目音檔</th>
                                <th>A文字</th>
                                <th>A圖檔</th>
                                <th>A音檔</th>
                                <th>B文字</th>
                                <th>B圖檔</th>
                                <th>B音檔</th>
                                <th>C文字</th>
                                <th>C圖檔</th>
                                <th>C音檔</th>
                                <th>D文字</th>
                                <th>E文字</th>
                                <th>F文字</th>
                                <th>答案</th>
                                <th>picexamplemark</th>
                                <th>voiceexamplemark</th>
                                <th>picAmark</th>
                                <th>voiceAmark</th>
                                <th>picAmark</th>
                                <th>voiceAmark</th>
                                <th>picCmark</th>
                                <th>voiceCmark</th>
                            </tr>

                        </thead>
                    </table>
                    <table id="DetailExample" class="word table table-striped table-sm" style="width:100%;">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>命題級數</th>
                                <th>題目類別</th>
                                <th>來源教材</th>
                                <th>冊數</th>
                                <th>課數</th>
                                <th>領域主題</th>
                                <th>題組內容</th>
                                <th>題組圖檔</th>
                                <th>題組音檔</th>
                                <th>picexamplegroupmark</th>
                                <th>voiceexamplegroupmark</th>

                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>





    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</body>

</html>