

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="referrer" content="no-referrer" />
        <title>合作廠商管理系統</title>
        <script src="/res/js/index.js"></script>
        <script src="/res/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="/res/bootstrap/bootstrap.min.js"></script>
        <script src="/res/data/memberData.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    
        <link href="/res/bootstrap/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
</head>

<!DOCTYPE html>
<html>
<head>
<title>Html5 Ajax 上傳檔案</title>
<script type="text/javascript">
function UpladFile() {
    var url = parent.webApiUrl + "/file/UploadExcel";     // 接收上傳檔案的後臺地址 
    // FormData 物件
    var form = new FormData();
    //form.append("GroupId", "5");      // 可以增加表單資料
    var fileObj = document.getElementById("file").files; // js 獲取檔案物件
    for (var i = 0; i < fileObj.length; i++) {
        form.append("File", fileObj[i])
    }
    img.set
   
    // XMLHttpRequest 物件
    var xhr = new XMLHttpRequest();
    xhr.open("post", url, true);
    xhr.setRequestHeader('Authorization', getCookie("token"))

    xhr.onload = function () {
    alert("上傳完成!");
    };
    xhr.t
    xhr.upload.addEventListener("progress", progressFunction, false);
    xhr.send(form);
}

function progressFunction(evt) {
    var progressBar = document.getElementById("progressBar");
    var percentageDiv = document.getElementById("percentage");
    if (evt.lengthComputable) {
    progressBar.max = evt.total;
    progressBar.value = evt.loaded;
    percentageDiv.innerHTML = Math.round(evt.loaded / evt.total * 100);
    }
} 
</script>
</head>

<body>
    <progress id="progressBar" value="0" max="100">
    </progress>
    <span id="percentage"></span>
    <br />
    <input type="file" id="file" name="files" multiple="multiple"/><br> 
    <input type="button" onclick="UpladFile()" value="上傳" />
    <img id="a"></img>
</body>
</html>