<!DOCTYPE html>
<html lang="zh">
<head>
    <script src="/res/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
   <script>
        $(function () {
            GetCorrectRate();
        })
        function GetCorrectRate() {  
            $.ajax({
                type: "GET",
                url: "http://localhost:5001/get_wallet",
                contentType: "application/json;charset=utf-8",
                async: false,
                success: function (e) {
                console.log(e);
      
                }
            });
        }
    </script>
</head>

<body>

</body>

</html>