<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="referrer" content="no-referrer" />
    <title>合作廠商管理系統</title>
    <script src="/res/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/res/bootstrap/bootstrap.min.js"></script>
    <script src="/res/js/index.js"></script>
    <script src="/res/data/memberData.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <link href="/res/bootstrap/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"
        rel="stylesheet" />
    <script>
        var dataTables;
        $(document).ready(function () {
            dataTables = $('#promoManageTable').DataTable({
                "lengthMenu": [[10, 20, 30], [10, 20, 30]],
                "searching": false, // disabled search function
                "ordering": false, // disabled order function
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "headers": {
                        'Authorization': getCookie("token")
                    },
                    "type": "POST",
                    url: parent.webApiUrl + "/promo/getall",
                    contentType: "application/json",
                    data: function (d) { // change request attribute to json format
                        d.accountId = getCookie('id');
                        return JSON.stringify(d)
                    }
                },
                "columns": [ // load data from API
                    { 'data': 'id' },
                    { 'data': 'eventCode' },
                    { 'data': 'eventName' },
                    { 'data': 'startDate' },
                    { 'data': 'endDate' },
                    { 'data': 'eventDesc' }, //5
                    { 'data': 'point' },
                    { 'data': 'companyId' },
                    { 'data': 'title' }, // company.title
                    { 'data': null } // empty row
                ],
                "columnDefs": [{
                    "targets": [0, 7], // hidden column
                    "visible": false
                }, {
                    "targets": 9, // add edit button
                    "render": function (data, type, row) {
                        return '<a href="javascript:void(0);" onclick="detailPromo(' + row.id + ',\'' + row.eventCode + '\')">詳細</a> | <a href="javascript:void(0);" onclick="editPromo(' + row.id + ',\'' + row.title + '\')">編輯</a> | <a href="javascript:void(0);" onclick="recordHistory(' + row.id + ',\'' + row.name + '\',\'' + row.eventCode + '\')">紀錄</a>';
                    }
                }, {
                    "targets": [3, 4], render: function (data) {
                        if (data == null)
                            return "無";
                        else {
                            var dateOrigin = new Date(data)
                            dateOrigin.setHours(dateOrigin.getHours() + 8)
                            return moment(dateOrigin).format('YYYY-MM-DD hh:mm:ss');
                        }
                    }
                }],
                "dom": '<"toolbar">frtip', // enable custommize toolbar elements
                "language": { // change display text
                    "info": " 目前顯示 _START_ 至 _END_ 筆，共計 _TOTAL_ 筆。",
                    "paginate": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "next": ">",
                        "previous": "<"
                    },
                }
            });
            $("div.toolbar").html('<button class="btn btn-outline-primary btn-sm" onclick="createPromo()">建立活動代碼</button>'); // get dom from toolbar
            $('#txtStartCreate, #txtEndCreate, #txtStartEdit, #txtEndEdit').datepicker({ format: 'yyyy-mm-dd' });
        });
        /// Function 
        function recordHistory(id, name, code) {
            $('#companyRecordTable').DataTable({
                "destroy": true, // 允許Ajax重新載入資料
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "headers": {
                        'Authorization': getCookie("token")
                    },
                    "type": "POST",
                    url: parent.webApiUrl + "/promo/gethistory",
                    contentType: "application/json",
                    data: function (d) { // change request attribute to json format
                        d.code = code;
                        return JSON.stringify(d)
                    }
                },
                "columns": [ // load data from API
                    { 'data': 'id' },
                    { 'data': 'eventCode' },
                    { 'data': 'point' },
                    { 'data': 'nickname' },
                    { 'data': 'createDate' }
                ],
                "columnDefs": [{
                    "targets": [0], // hidden column
                    "visible": false
                }, {
                    "targets": [4], render: function (data) {
                        if (data == null)
                            return "無";
                        else {
                            var dateOrigin = new Date(data)
                            dateOrigin.setHours(dateOrigin.getHours() + 8)
                            return moment(dateOrigin).format('YYYY-MM-DD hh:mm:ss');
                        }
                    }
                }]
            });
            $('#modalRecord').modal('show');
        }

        function detailPromo(id, code) {
            $('#modalDetailLabel').html(code);
            $('#txtTitleDetail').html(code);
            $.ajax({
                type: "POST",
                headers: { 'Authorization': getCookie("token") },
                url: webApiUrl + "/promo/getbyid",
                contentType: "application/json;charset=utf-8",
                async: false,
                data: JSON.stringify({
                    'id': id
                }),
                success: function (e) {
                    $('#txtCodeDetail').html(e.eventCode);
                    $('#txtNameDetail').html(e.eventName);
                    $('#txtDescDetail').html(e.eventDesc);
                    $('#txtStartDetail').html(moment(e.startDate).format('YYYY-MM-DD'));
                    $('#txtEndDetail').html(moment(e.endDate).format('YYYY-MM-DD'));
                    $('#txtPointDetail').html(e.point);
                    $('#txtCompanyDetail').html(e.title);
                }
            });
            $('#modalDetail').modal('show');
        }

        function createPromo() { // 建立初始化
            $.ajax({
                type: "POST",
                headers: { 'Authorization': getCookie("token") },
                url: webApiUrl + "/promo/getcompanylist",
                contentType: "application/json;charset=utf-8",
                async: false,
                success: function (r) {
                    $.each(r, function (i, item) { // generate dropdown list from memberData.js 
                        $("#selCompanyCreate").append('<option value=' + item.id + '>' + item.title + '</option>');
                    });
                }
            })
            $('#modalCreate').modal('show');
        }

        function createPromoCommit() { // 建立送出
            $.ajax({
                type: "POST",
                headers: { 'Authorization': getCookie("token") },
                url: webApiUrl + "/promo/create",
                contentType: "application/json;charset=utf-8",
                async: false,
                data: JSON.stringify({
                    'eventCode': $('#txtEventCodeCreate').val(),
                    'eventName': $('#txtEventNameCreate').val(),
                    'eventDesc': $('#txtEventDescCreate').val(),
                    'point': $('#txtPointCreate').val(),
                    'startDate': $('#txtStartCreate').val(),
                    'endDate': $('#txtEndCreate').val(),
                    'companyId': $('#selCompanyCreate').val()
                }),
                success: function () {
                    dataTables.draw();
                    $('#modalCreate').modal('hide');
                }
            });
        }

        function editPromo(id, title) { // 編輯會員初始化
            $('#modalEditLabel').html('編輯 ' + title);
            $.ajax({
                type: "POST",
                headers: { 'Authorization': getCookie("token") },
                url: webApiUrl + "/promo/getbyid",
                contentType: "application/json;charset=utf-8",
                async: false,
                data: JSON.stringify({
                    "id": id
                }),
                success: function (e) {
                    $("#selCompanyEdit").empty();
                    $("#txtPromoIdEdit").val(e.id);
                    $('#txtEventCodeEdit').val(e.eventCode);
                    $('#txtEventNameEdit').val(e.eventName);
                    $('#txtEventDescEdit').val(e.eventDesc);
                    $('#txtStartEdit').val(moment(e.startDate).format('YYYY-MM-DD'));
                    $('#txtEndEdit').val(moment(e.endDate).format('YYYY-MM-DD'));
                    $('#txtPointEdit').val(e.point);
                    $.ajax({
                        type: "POST",
                        headers: { 'Authorization': getCookie("token") },
                        url: webApiUrl + "/promo/getcompanylist",
                        contentType: "application/json;charset=utf-8",
                        async: false,
                        success: function (r) {
                            $.each(r, function (i, item) { // generate dropdown list from memberData.js 
                                if (item.groupId == e.groupId) {
                                    $("#selCompanyEdit").append('<option selected="selected" value=' + item.id + '>' + item.title + '</option>')
                                } else {
                                    $("#selCompanyEdit").append('<option value=' + item.id + '>' + item.title + '</option>');
                                }
                            });
                        }
                    })
                }
            });
            $('#modalEdit').modal('show');
        }
        function editPromoCommit() { // 編輯會員送出
            $.ajax({
                type: "POST",
                headers: { 'Authorization': getCookie("token") },
                url: webApiUrl + "/promo/update",
                contentType: "application/json;charset=utf-8",
                async: false,
                data: JSON.stringify({
                    'id': $("#txtPromoIdEdit").val(),
                    'eventCode': $('#txtEventCodeEdit').val(),
                    'eventName': $('#txtEventNameEdit').val(),
                    'eventDesc': $('#txtEventDescEdit').val(),
                    'point': $('#txtPointEdit').val(),
                    'startDate': $('#txtStartEdit').val(),
                    'endDate': $('#txtEndEdit').val(),
                    'companyId': $('#selCompanyEdit').val()
                }),
                success: function () {
                    dataTables.draw();
                    $('#modalEdit').modal('hide');
                }
            });
        }
    </script>
</head>

<body>
    <!-- DataTables -->
    <table id="promoManageTable" class="table table-striped table-sm" style="width:100%; font-size: 0.9em;">
        <thead>
            <tr>
                <th>Id</th>
                <th>活動代碼</th>
                <th>活動名稱</th>
                <th>開始時間</th>
                <th>結束時間</th>
                <th>活動說明</th>
                <th>點數</th>
                <th>CompanyId</th>
                <th>公司名稱</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
    <!-- Modal: Detail -->
    <div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetailLabel"
        aria-hidden="true" style="font-size:0.8em;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDetailLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtCodeDetail" style="font-weight: bold;">活動代碼:</label>
                        <div id="txtCodeDetail"></div>
                    </div>
                    <div class="form-group">
                        <label for="txtNameDetail" style="font-weight: bold;">活動名稱:</label>
                        <div id="txtNameDetail"></div>
                    </div>
                    <div class="form-group">
                        <label for="txtDescDetail" style="font-weight: bold;">活動說明:</label>
                        <div id="txtDescDetail"></div>
                    </div>
                    <div class="form-group">
                        <label for="txtStartDetail" style="font-weight: bold;">開始時間:</label>
                        <div id="txtStartDetail"></div>
                    </div>
                    <div class="form-group">
                        <label for="txtEndDetail" style="font-weight: bold;">結束時間:</label>
                        <div id="txtEndDetail"></div>
                    </div>
                    <div class="form-group">
                        <label for="txtPointDetail" style="font-weight: bold;">活動點數:</label>
                        <div id="txtPointDetail"></div>
                    </div>
                    <div class="form-group">
                        <label for="txtACompanyDetail" style="font-weight: bold;">公司名稱:</label>
                        <div id="txtCompanyDetail"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: Edit -->
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtEventCodeEdit">活動代碼</label>
                        <input type="hidden" class="form-control form-control-sm" id="txtPromoIdEdit">
                        <input type="text" class="form-control form-control-sm" id="txtEventCodeEdit">
                    </div>
                    <div class="form-group">
                        <label for="txtEventNameEdit">活動名稱</label>
                        <input type="text" class="form-control form-control-sm" id="txtEventNameEdit">
                    </div>
                    <div class="form-group">
                        <label for="txtEventDescEdit">活動說明</label>
                        <input type="text" class="form-control form-control-sm" id="txtEventDescEdit">
                    </div>
                    <div class="form-group">
                        <label for="txtPointEdit">活動點數</label>
                        <input type="number" class="form-control form-control-sm" id="txtPointEdit">
                    </div>
                    <div class="form-group">
                        <label for="txtStartEdit">開始時間</label>
                        <input type="text" class="form-control form-control-sm" id="txtStartEdit">
                    </div>
                    <div class="form-group">
                        <label for="txtEndEdit">結束時間</label>
                        <input type="text" class="form-control form-control-sm" id="txtEndEdit">
                    </div>
                    <div class="form-group">
                        <label for="selCompanyEdit">活動公司</label>
                        <select class="form-control form-control-sm" id="selCompanyEdit"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="editPromoCommit();">修改存檔</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: Create -->
    <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="modalCreateLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCreateLabel">新增活動代碼</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtEventCodeCreate">活動代碼</label>
                        <input type="text" class="form-control form-control-sm" id="txtEventCodeCreate">
                    </div>
                    <div class="form-group">
                        <label for="txtEventNameCreate">活動名稱</label>
                        <input type="text" class="form-control form-control-sm" id="txtEventNameCreate">
                    </div>
                    <div class="form-group">
                        <label for="txtEventDescCreate">活動說明</label>
                        <input type="text" class="form-control form-control-sm" id="txtEventDescCreate">
                    </div>
                    <div class="form-group">
                        <label for="txtPointCreate">活動點數</label>
                        <input type="number" class="form-control form-control-sm" id="txtPointCreate">
                    </div>
                    <div class="form-group">
                        <label for="txtStartCreate">開始時間</label>
                        <input type="text" class="form-control form-control-sm" id="txtStartCreate">
                    </div>
                    <div class="form-group">
                        <label for="txtEndCreate">結束時間</label>
                        <input type="text" class="form-control form-control-sm" id="txtEndCreate">
                    </div>
                    <div class="form-group">
                        <label for="selCompanyCreate">活動公司</label>
                        <select class="form-control form-control-sm" id="selCompanyCreate"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="createPromoCommit();">新增活動代碼</button>
                </div>
            </div>
        </div>
    </div>
    <!-- History -->
    <div class="modal fade" id="modalRecord" tabindex="-1" role="dialog" aria-labelledby="modalRecordLabel"
        aria-hidden="true" style="font-size:0.8em;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRecordLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="companyRecordTable" class="table table-striped table-sm"
                        style="width:100%; font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>活動代碼</th>
                                <th>點數</th>
                                <th>使用者</th>
                                <th>使用日期</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</body>

</html>