<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="referrer" content="no-referrer" />
    <title>合作廠商管理系統</title>
    <script src="/res/js/index.js"></script>
    <script src="/res/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/res/bootstrap/bootstrap.min.js"></script>
    <script src="/res/data/memberData.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <link href="/res/bootstrap/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script>
        var dataTables;
        $(document).ready(function () {
            dataTables = $('#AMTable').DataTable({
                "searching": false,
                "ordering": false,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "headers": {
                        'Authorization': getCookie("token")
                    },
                    "type": "POST",
                    url: parent.webApiUrl + "/mm/GetAll",
                    contentType: "application/json",
                    data: function (d) {
                        return JSON.stringify(d)
                    }
                },

                "columns": [
                    { 'data': 'id' },
                    { 'data': 'status' },
                    { 'data': 'name' },
                    { 'data': 'userName' },
                    { 'data': 'nickName' },
                    { 'data': 'password' },//5
                    { 'data': 'token' },
                    { 'data': 'language' },
                    { 'data': 'useNumber' },
                    { 'data': 'examNumber' },
                    { 'data': 'createDate' },
                    { 'data': 'modifyDate' },
                    { 'data': null }
                ], "columnDefs": [{
                    "targets": [0, 5, 6], // hidden column
                    "visible": false
                }, {
                    "targets": 1,
                    "render": function (data, type, row) {
                        var checked = (row.status == 0) ? "啟用" : "停用";
                        return "<a href='javascript:void(0);' onclick='changeStatus(" + row.id + ",\"" + checked + row.nickName + "\", \"" + checked + "\");'>" + checked + "</a>";
                    }

                }, {
                    "targets": 12, // add Create buttononclick="recordChat(' + row.id + ')
                    "render": function (data, type, row) {
                        var html = "";
                        html += '<a href="javascript:void(0);" onclick="DetailObject(' + row.id + ')">詳細</a> '
                        html += '| <a href="javascript:void(0);" onclick="EditMember(' + row.id + ',\'' + row.nickName + '\')">編輯</a>'
                        html += ' | <a href="javascript:void(0);" onclick="DeleteAccount(' + row.id + ')">刪除</a> '
                        return html
                    }
                }, {
                    "targets": [10, 11], render: function (data) {
                        if (data == null)
                            return "無";
                        else {
                            var dateOrigin = new Date(data)
                            dateOrigin.setHours(dateOrigin.getHours() + 8)
                            return moment(dateOrigin).format('YYYY-MM-DD hh:mm:ss');
                        }
                    }
                }],
                "dom": '<"toolbar">frtip', // enable custommize toolbar elements
                "language": { // change display text
                    "info": " 目前顯示 _START_ 至 _END_ 筆，共計 _TOTAL_ 筆。",
                    "paginate": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "next": ">",
                        "previous": "<"
                    }
                }

            });
            $("div.toolbar").html('<button class="btn btn-outline-primary btn-sm" onclick="createMember()">新增會員帳號</button>'); // get dom from toolbar
            $('#txtCreateDateCreate').datepicker({ format: 'yyyy-mm-dd' });
        });
        function DeleteAccount(id, msg) { // 變更狀態
            var confirmStatus = confirm("是否刪除此帳號?");
            if (confirmStatus) {
                $.ajax({
                    type: "POST",
                    headers: { 'Authorization': getCookie("token") },
                    url: webApiUrl + "/mm/Delete",
                    contentType: "application/json;charset=utf-8",
                    async: false,
                    data: JSON.stringify({
                        "id": id
                    }),
                    success: function () {
                        dataTables.draw();
                    }
                });
            }
        }
        function changeStatus(id, msg) { // 變更狀態
            var confirmStatus = confirm("是否" + msg + "?");
            if (confirmStatus) {
                $.ajax({
                    type: "POST",
                    headers: { 'Authorization': getCookie("token") },
                    url: webApiUrl + "/mm/TurnStatus",
                    contentType: "application/json;charset=utf-8",
                    async: false,
                    data: JSON.stringify({
                        "id": id
                    }),
                    success: function () {
                        dataTables.draw();
                    }
                });
            }
        }
        /// Function 
        function DetailObject(id) {
            $('#AMDetail').DataTable({
                "destroy": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "headers": {
                        'Authorization': getCookie("token")
                    },
                    "type": "POST",
                    url: parent.webApiUrl + "/object/GetAllComment/",
                    contentType: "application/json",
                    data: function (d) { // change request attribute to json format
                        d.objectId = id;
                        return JSON.stringify(d)
                    }
                },
                "columns": [ // load data from API
                    { 'data': 'id' },
                    { 'data': 'objectId' },
                    { 'data': 'contents' },
                    { 'data': 'createDate' },
                    { 'data': 'modifyDate' },
                    { 'data': 'linkId' },
                    { 'data': 'link' },
                    { 'data': 'object' },
                ], "columnDefs": [{
                    "targets": [0, 1, 5, 6, 7], // hidden column
                    "visible": false
                }, {
                    "targets": [2],
                    "render": function (data, type, row) {
                        return data.substr(0, 32) + "...";
                    }
                }]
            });
            $('#modalRecord').modal('show');
        }
        function createMember() { // 建立會員初始化

            $("#txtstatusCreate").append('<option value="1">啟用</option>');
            $("#txtstatusCreate").append('<option value="0">停用</option>');
            $.ajax({
                type: "POST",
                headers: { 'Authorization': getCookie("token") },
                url: webApiUrl + "/group/GetGroupList",
                contentType: "application/json;charset=utf-8",
                async: false,
                success: function (r) {
                    $.each(r, function (i, item) { // generate dropdown list from memberData.js 
                        $("#txtgroupCreate").append('<option  value=' + item.id + '>' + item.name + '</option>')

                    });
                }
            });
            $("#txtstudentNumberCreate").val(0);
            $("#txtuseNumberCreate").val(0);
            $("#txtexamNumberCreate").val(0);
            $('#modalCreate').modal('show');
        }
        function createMemberCommit() { // 建立初始化
            if ($('#txtpasswordCreate').val() != $('#txtConfirmPasswordCreate').val()) return alert("密碼不符");
            if ($('#txtloginCreate').val().search(emailRule) == -1) return alert("帳號格式不正確");
            if ($('#txtnameCreate').val() == "") return alert("暱稱不正確");
            $.ajax({
                type: "POST",
                headers: { 'Authorization': getCookie("token") },
                url: webApiUrl + "/mm/Create",
                contentType: "application/json;charset=utf-8",
                async: false,
                data: JSON.stringify({

                    'UserName': $("#txtloginCreate").val(),
                    'NickName': $("#txtnameCreate").val(),
                    'Status': $("#txtstatusCreate").val(),
                    'UseNumber': $("#txtuseNumberCreate").val(),
                    'ExamNumber': $("#txtexamNumberCreate").val(),
                    'GroupId': $("#txtgroupCreate").val(),
                    'Language': $("#txtlanguageCreate").val(),
                    'Password': $("#txtpasswordCreate").val(),

                }),
                success: function () {
                    dataTables.draw();
                    $('#modalCreate').modal('hide');
                }

            })
            $('#modalCreate').modal('show');
        }
        function EditMember(id, title) { // 編輯會員初始化
            $('#modalEditLabel').html('編輯 ' + title);
            $("#txtstatusEdit").append('<option value="1">啟用</option>');
            $("#txtstatusEdit").append('<option value="0">停用</option>');
            $.ajax({
                type: "POST",
                headers: { 'Authorization': getCookie("token") },
                url: webApiUrl + "/group/GetGroupList",
                contentType: "application/json;charset=utf-8",
                async: false,
                success: function (r) {
                    $.each(r, function (i, item) { // generate dropdown list from memberData.js 
                        console.log(i);
                        console.log(item);
                        $("#txtgroupEdit").append('<option  value=' + item.id + '>' + item.name + '</option>')

                    });
                }
            });
            $.ajax({
                type: "POST",
                headers: { 'Authorization': getCookie("token") },
                url: webApiUrl + "/mm/GetById",
                contentType: "application/json;charset=utf-8",
                async: false,
                data: JSON.stringify({
                    "id": id
                }),
                success: function (e) {
                    console.log(e.status);
                    $("#txtidEdit").val(id);
                    $("#txtloginEdit").val(e.userName);
                    $('#txtnameEdit').val(e.nickName);
                    $('#txtpasswordEdit').val(e.password);
                    $('#txtConfirmPasswordEdit').val(e.password);
                    $('#txtstatusEdit').val(e.status);
                    $('#txtuseNumberEdit').val(e.useNumber);
                    $('#txtexamNumberEdit').val(e.examNumber);
                    $('#txtgroupEdit').val(e.groupId);
                    $('#txtlanguageEdit').val(e.language);

                }
            });
            $('#modalEdit').modal('show');

        }
        function EditMemberCommit() { // 編輯會員送出
            if ($('#txtpasswordEdit').val() != $('#txtConfirmPasswordEdit').val()) return alert("密碼不符");
            if ($('#txtloginEdit').val().indexOf('@') == -1) return alert("帳號格式不正確");
            if ($('#txtnameEdit').val() == "") return alert("暱稱不正確");

            console.log($("#txtlanguageEdit").val())
            $.ajax({
                type: "POST",
                headers: { 'Authorization': getCookie("token") },
                url: webApiUrl + "/mm/Update",
                contentType: "application/json;charset=utf-8",
                async: false,
                data: JSON.stringify({

                    'Id': $("#txtidEdit").val(),
                    'UserName': $("#txtloginEdit").val(),
                    'NickName': $("#txtnameEdit").val(),
                    'Status': $("#txtstatusEdit").val(),
                    'UseNumber': $("#txtuseNumberEdit").val(),
                    'ExamNumber': $("#txtexamNumberEdit").val(),
                    'GroupId': $("#txtgroupEdit").val(),
                    'Language': $("#txtlanguageEdit").val(),
                    'Password': $("#txtpasswordEdit").val(),
                }),
                success: function () {
                    dataTables.draw();
                    $('#modalEdit').modal('hide');
                }
            });
        }
    </script>
</head>

<body>
    <!-- DataTables -->
    <table id="AMTable" class="table table-striped table-sm" style="width:100%; font-size: 0.9em;">
        <thead>
            <tr>
                <th>id</th>
                <th>狀態</th>
                <th>groupId</th>
                <th>帳號</th>
                <th>名稱</th>
                <th>密碼</th>
                <th>token</th>
                <th>語系</th>
                <th>使用數量</th>
                <th>考題數量</th>
                <th>創建日期</th>
                <th>修改日期</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>

    <!-- Detail -->
    <div class="modal fade" id="modalRecord" tabindex="-1" role="dialog" aria-labelledby="modalRecordLabel"
        aria-hidden="true" style="font-size:0.8em;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRecordLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="AMDetail" class="table table-striped table-sm" style="width:100%; font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>objectId</th>
                                <th>回文內容</th>
                                <th>創建日期</th>
                                <th>修改日期</th>
                                <th>linkId</th>
                                <th>link</th>
                                <th>object</th>

                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: Edit -->
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control form-control-sm" id="txtidEdit">
                    </div>
                    <div class="form-group">
                        <label for="txtstatusEdit">狀態</label>
                        <select class="form-control form-control-sm" id="txtstatusEdit">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtgroupEdit">群體</label>
                        <select type="text" class="form-control form-control-sm" id="txtgroupEdit">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtloginEdit">帳號</label>
                        <input type="email" class="form-control form-control-sm" id="txtloginEdit" name="inputEmail"
                            placeholder="example@email.com" required autofocus>

                    </div>

                    <div class="form-group">
                        <label for="txtnameEdit">名稱</label>
                        <input type="text" class="form-control form-control-sm" id="txtnameEdit">
                    </div>
                    <div class="form-group">
                        <label for="txtpasswordEdit">會員密碼</label>
                        <input type="password" class="form-control form-control-sm" id="txtpasswordEdit">
                    </div>

                    <div class="form-group">
                        <label for="txtConfirmPasswordEdit">確認密碼</label>
                        <input type="password" class="form-control form-control-sm" id="txtConfirmPasswordEdit">
                    </div>

                    <div class="form-group">
                        <label for="txtlanguageEdit">語系</label>
                        <input type="text" class="form-control form-control-sm" id="txtlanguageEdit">
                    </div>

                    <div class="form-group">
                        <label for="txtuseNumberEdit">使用數量</label>
                        <input type="text" class="form-control form-control-sm" id="txtuseNumberEdit">
                    </div>
                    <div class="form-group">
                        <label for="txtexamNumberEdit">題目數量</label>
                        <input type="text" class="form-control form-control-sm" id="txtexamNumberEdit">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="EditMemberCommit();">修改存檔</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: Create -->
    <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="modalCreateLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="modalCreateLabel" 新增會員帳號</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control form-control-sm" id="txtidCreate">
                    </div>
                    <div class="form-group">
                        <label for="txtstatusCreate">狀態</label>
                        <select class="form-control form-control-sm" id="txtstatusCreate">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtgroupCreate">群體</label>
                        <select type="text" class="form-control form-control-sm" id="txtgroupCreate">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtloginCreate">帳號</label>
                        <input type="email" class="form-control form-control-sm" id="txtloginCreate" name="inputEmail"
                            placeholder="example@email.com" required autofocus>

                    </div>

                    <div class="form-group">
                        <label for="txtnameCreate">名稱</label>
                        <input type="text" class="form-control form-control-sm" id="txtnameCreate">
                    </div>
                    <div class="form-group">
                        <label for="txtpasswordCreate">會員密碼</label>
                        <input type="password" class="form-control form-control-sm" id="txtpasswordCreate">
                    </div>

                    <div class="form-group">
                        <label for="txtConfirmPasswordCreate">確認密碼</label>
                        <input type="password" class="form-control form-control-sm" id="txtConfirmPasswordCreate">
                    </div>

                    <div class="form-group">
                        <label for="txtlanguageCreate">語系</label>
                        <input type="text" class="form-control form-control-sm" id="txtlanguageCreate">
                    </div>

                    <div class="form-group">
                        <label for="txtuseNumberCreate">使用數量</label>
                        <input type="text" class="form-control form-control-sm" id="txtuseNumberCreate">
                    </div>
                    <div class="form-group">
                        <label for="txtexamNumberCreate">題目數量</label>
                        <input type="text" class="form-control form-control-sm" id="txtexamNumberCreate">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="createMemberCommit();">新增會員帳號</button>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</body>

</html>